.panel {
  position: fixed;
  bottom: 24px;
  left: 24px;
  box-sizing: content-box;
  height: max-content;
  border: solid 1px var(--highlight);
  background-color: var(--background);
  border-radius: 12px;
  z-index: 200;
  padding: 8px;
  opacity: 1;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(3, 50px);
  grid-gap: 8px;
  grid-template-rows: repeat(4, 50px);

  width: max-content;

  max-width: 50px;

  opacity: 0.5;

  transition: opacity 0.2s, max-width 0.2s;

  &.mouse-down {
    pointer-events: none;
    opacity: 0;
  }

  &:hover {
    opacity: 1;
    max-width: 200px + 8px * 3;
  }
}

.buttons {
  grid-area: 1 / 1 / 5 / 1;
}

.mode-button {
  display: block;
  border: solid 1px var(--highlight);
  background-color: var(--background);
  color: var(--contrast);

  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s filter;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0px;
  }

  &.selected {
    background-color: var(--background-alt);
  }

  &:hover {
    background-color: var(--background-alt);
  }
}
