#panel {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80px;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 32px 32px 0px 0px;
  width: max-content;
  z-index: 200;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;

  .buttons {
    height: 100%;
  }

  button {
    border: solid 1px #4444;
    border-right: 0px solid black;
    background-color: white;
    height: 100%;
    width: 80px;
    cursor: pointer;
    transition: 0.2s background-color;

    &.selected {
      background-color: #f8f8f8;
      cursor: default;
    }

    &:hover {
      background-color: #f8f8f8;
    }
  
    &:first-child {
      border-radius: 10000px 0px 0px 10000px;
    }
  
    &:last-child {
      border-radius: 0px 100000px 100000px 0px;
      border-right: solid 1px #4444;
    }
  }


}
